In [10]:
import bioframe as bf
import gtfparse
import pandas as pd

INFO:matplotlib.font_manager:Failed to extract font properties from /usr/share/fonts/truetype/noto/NotoColorEmoji.ttf: In FT2Font: Can not load face (unknown file format; error code 0x2)
INFO:matplotlib.font_manager:generated new fontManager

In [3]:
# runs for ~ 1 minute
gtf = gtfparse.read_gtf('data/gencode.v40.annotation.gtf.gz')

INFO:root:Extracted GTF attributes: ['gene_id', 'gene_type', 'gene_name', 'level', 'hgnc_id', 'havana_gene', 'transcript_id', 'transcript_type', 'transcript_name', 'transcript_support_level', 'tag', 'havana_transcript', 'exon_number', 'exon_id', 'ont', 'protein_id', 'ccdsid']

In [4]:
df = gtf.to_pandas()
# seqname is a shit name
df = df.rename(columns={'seqname': 'chrom'})

In [5]:
# What are the transcripts for the DMD gene ?
df[df['gene_name'] == 'DMD']['transcript_id'].unique()
# Note that there is an empty transcript id

array(['', 'ENST00000481143.2', 'ENST00000679437.1', 'ENST00000681026.1',
       'ENST00000681989.1', 'ENST00000378723.7', 'ENST00000358062.6',
       'ENST00000619831.5', 'ENST00000357033.9', 'ENST00000343523.7',
       'ENST00000359836.5', 'ENST00000378707.7', 'ENST00000541735.5',
       'ENST00000378677.6', 'ENST00000684130.1', 'ENST00000680701.1',
       'ENST00000679850.1', 'ENST00000679641.1', 'ENST00000680355.1',
       'ENST00000682322.1', 'ENST00000682600.1', 'ENST00000680162.2',
       'ENST00000683675.1', 'ENST00000680961.1', 'ENST00000682238.1',
       'ENST00000679482.1', 'ENST00000679669.1', 'ENST00000680557.1',
       'ENST00000620040.5', 'ENST00000684072.1', 'ENST00000682746.1',
       'ENST00000682207.1', 'ENST00000684350.1', 'ENST00000682769.1',
       'ENST00000683709.1', 'ENST00000680768.2', 'ENST00000378702.8',
       'ENST00000474231.5', 'ENST00000683509.1', 'ENST00000361471.8',
       'ENST00000378680.6', 'ENST00000679706.1', 'ENST00000681153.1',
       'ENST00000684103.1', 'ENST00000684342.1', 'ENST00000683995.1',
       'ENST00000683503.1', 'ENST00000684247.1', 'ENST00000683957.1',
       'ENST00000378705.3', 'ENST00000681654.1', 'ENST00000475732.3',
       'ENST00000681334.1', 'ENST00000681646.1', 'ENST00000681870.1',
       'ENST00000680216.1', 'ENST00000634285.1', 'ENST00000634315.1',
       'ENST00000683450.1', 'ENST00000683851.1', 'ENST00000683117.1',
       'ENST00000681839.1', 'ENST00000471779.1', 'ENST00000682135.1',
       'ENST00000488902.5', 'ENST00000682183.1', 'ENST00000493412.1',
       'ENST00000420596.5', 'ENST00000448370.5', 'ENST00000682899.1',
       'ENST00000683985.1', 'ENST00000288447.9', 'ENST00000684165.1',
       'ENST00000682071.1', 'ENST00000682924.1', 'ENST00000684292.1',
       'ENST00000480751.1', 'ENST00000447523.1', 'ENST00000684237.1',
       'ENST00000682870.1', 'ENST00000684660.1', 'ENST00000683309.1',
       'ENST00000684056.1', 'ENST00000683658.1', 'ENST00000682437.1',
       'ENST00000682584.1', 'ENST00000684357.1', 'ENST00000472681.1',
       'ENST00000682307.1', 'ENST00000682439.1', 'ENST00000472266.1',
       'ENST00000463609.2'], dtype=object)

In [6]:
# What is the name of the gene associated with transcript ENST00000684350.1
df[(df['transcript_id'] == 'ENST00000684350.1') & (df['feature'] == 'transcript')]['gene_name']

3182690    DMD
Name: gene_name, dtype: object

In [8]:
# how many exons does transcript ENST00000684350.1 have
df[(df['transcript_id'] == 'ENST00000684350.1') & (df['feature'] == 'exon')].shape[0]

7

In [9]:
# How many exons are in the DMD genes ?
len(df[(df['gene_name'] == 'DMD') & (df['feature'] == 'exon')]['exon_id'].unique())

275

In [25]:
ctcf_peak = bf.read_table(
    "https://www.encodeproject.org/files/ENCFF417KHZ/@@download/ENCFF417KHZ.bed.gz",
     schema="narrowPeak",
)   
ctcf_peak

/home/gamazeps/dev/encode-llama/venv/lib/python3.10/site-packages/bioframe/io/fileops.py:74: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df = pd.read_csv(filepath_or, **kwargs)

,chrom,start,end,name,score,strand,fc,-log10p,-log10q,relSummit
0,chr10,99392395,99392827,.,1000,.,306.78095,-1.0,4.96085,230
1,chr3,194929204,194929707,.,1000,.,284.09197,-1.0,4.96085,234
2,chr8,97559907,97560401,.,1000,.,284.16880,-1.0,4.96085,242
3,chr8,66609310,66609747,.,1000,.,265.66492,-1.0,4.96085,238
4,chr15,66903598,66904095,.,1000,.,263.27660,-1.0,4.96085,252
...,...,...,...,...,...,...,...,...,...,...
129238,chr17,55794221,55794717,.,78,.,5.91739,-1.0,0.35122,248
129239,chr5,39135451,39135947,.,78,.,6.62387,-1.0,0.51343,248
129240,chr20,16241885,16242381,.,78,.,8.24784,-1.0,0.96486,248
129241,chr2,39231186,39231682,.,78,.,6.21278,-1.0,0.42335,248
129242,chr16,84553939,84554435,.,78,.,8.06121,-1.0,0.91185,248

In [26]:
# Are there any CTCF peaks overlapping with DMD ?
bf.overlap(
    df[(df['gene_name'] == 'DMD') & (df['feature'] == 'gene')],
    ctcf_peak,
    how='inner',
    suffixes=('_1','_2')
)

,chrom_1,source_1,feature_1,start_1,end_1,score_1,strand_1,frame_1,gene_id_1,gene_type_1,...,chrom_2,start_2,end_2,name_2,score_2,strand_2,fc_2,-log10p_2,-log10q_2,relSummit_2
0,chrX,HAVANA,gene,31097677,33339609,NaN,-,0,ENSG00000198947.18,protein_coding,...,chrX,31656639,31657135,.,78,.,8.80363,-1.0,1.14717,248
1,chrX,HAVANA,gene,31097677,33339609,NaN,-,0,ENSG00000198947.18,protein_coding,...,chrX,31658342,31658838,.,452,.,20.41173,-1.0,4.96085,248
2,chrX,HAVANA,gene,31097677,33339609,NaN,-,0,ENSG00000198947.18,protein_coding,...,chrX,31961756,31962252,.,487,.,19.26018,-1.0,4.48525,248
3,chrX,HAVANA,gene,31097677,33339609,NaN,-,0,ENSG00000198947.18,protein_coding,...,chrX,32483449,32483945,.,78,.,14.56001,-1.0,3.51608,248
4,chrX,HAVANA,gene,31097677,33339609,NaN,-,0,ENSG00000198947.18,protein_coding,...,chrX,32530727,32531223,.,176,.,16.82755,-1.0,4.18576,248
5,chrX,HAVANA,gene,31097677,33339609,NaN,-,0,ENSG00000198947.18,protein_coding,...,chrX,32687396,32687892,.,202,.,22.98080,-1.0,4.96085,248
6,chrX,HAVANA,gene,31097677,33339609,NaN,-,0,ENSG00000198947.18,protein_coding,...,chrX,33324080,33324576,.,876,.,34.99871,-1.0,4.96085,248